@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Rubik:500");

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --charade: 
  rgba(38, 45, 52, 1);
    --outer-space: 
  rgba(44, 53, 61, 1);
    --bali-hai: 
  rgba(133, 142, 173, 1);
    --black-haze: 
  rgba(244, 246, 248, 1);
    --burning-orange: 
  rgba(255, 105, 52, 1);
  
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 26px;
  
    --font-family-source_sans_pro: "Source Sans Pro";
  }

.screen a {
    display: contents;
    text-decoration: none;
}
  
.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}
  
.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

.creat-post {
    align-items: flex-start;
    /* background-color: blue; */
    display: flex;
    height: 86px;
    padding: 0 20px;
    position: relative;
    width: 785px;
}

.mask-group {
    height: 32px;
    width: 30px;
}

.input-data {
    align-items: flex-start;
    background-color: var(--outer-space);
    border-radius: 6px;
    display: flex;
    height: 46px;
    margin-left: 20px;
    margin-top: 20px;
    min-width: 553px;
    padding: 11px 12px;
}

.lets-share-what-going-on-your-mind {
    color: var(--bali-hai);
    font-family: var(--font-family-source_sans_pro);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    min-height: 22px;
    white-space: nowrap;
}

.button {
    align-items: flex-start;
    background-color: var(--burning-orange);
    border-radius: 6px;
    display: flex;
    height: 44px;
    margin-left: 20px;
    margin-top: 21px;
    min-width: 112px;
    padding: 11px 16px;
}

.create-post {
    color:#ffffff;
    font-family: var(--font-family-rubik);
    font-size: var(--font-size-m);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
}

.border-1px-charade {
    border-width: 1px;
    border-style: solid;
    border-color: var(--charade);
}