.message-container {
    align-items: center;
    background-color: var(--text-dark2);
    border-radius: 5px;
    box-shadow: 2px 1px 5px 
  #00000026;
    display: flex;
    flex-direction: column;
    height: 193px;
    overflow: hidden;
    padding: 25px 0;
    position: relative;
    width: 725px;
}


.sub-message-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 51px;
    width: 665px;
  }


.message-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-light);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 16px;
  letter-spacing: 0.70px;
}

.message-body {
    color: var(--text-light);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 300;
    letter-spacing: 0.70px;
    line-height: 25px;
    min-height: 25px;
    white-space: nowrap;
  }



